	<!DOCTYPE html>
	<html>
	<head>
		<meta name="description" content="Cadastro Cliente Juridico">
		<!-- <script src="//code.jquery.com/jquery.min.js"></script>-->
		<!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
		<link rel="stylesheet" href="../resources/css_form/bootstrap.min.css" />
		<link rel="stylesheet" href="../resources/css_form/style.css" type="text/css" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Formulário Cliente Pulse Juridico</title>
	</head>
	<body>
	<nav class="navbar navbar-default navbar-statix-top navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          <img alt="Brand" src="../resources/media/logos.png" width="25px" align="middle">   
        </a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Qual seu Objetivo?<span class="sr-only">(current)</span></a></li>
          <li><a href="produtos.html">Produtos</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="form_cliente_fisico.html">Cliente Físico</a></li>
              <li><a href="form_cliente_juridico.html">Cliente Jurídico</a></li>
             <!-- Exemplo de Link Separado <li role="separator" class="divider"></li>-->
            </ul>
          </li>
        </ul>
       
        <ul class="nav navbar-nav navbar-right">
          <li><a href="login.html">Entrar</a></li>
          <li><a href="sobrenos.html">Quem somos nós</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
  </nav>
		<!--seção 1 -->
		<section class="container">
			<div class="row">
				<div class="col-sm-12">
					<header>
						<h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Dados Empresariais:</h2>
						<span>Preencha com os dados de sua empresa, para efetuar o cadastro</span>
					</header>
				</div>
			</div>
			<!-- Nesta seção temos o nome e o email -->
			<div class="row">
				<div class="form-horizontal" id ="linhaUm">
					<div class="form-group">
						<div class="col-sm-4 col-md-3">
							<label for="txtNomeCompleto" class="control-label">Nome da Empresa:</label>
							<input type="text" id="txtNomeCompleto" class="form-control" name="nome" placeholder="Ex. Empresa LTDA">
							
						</div>
						<div class="col-sm-4 col-md-3">
							<label for="txtEmail" class="control-label">Email Empresarial:</label>
							<input type="email" class="form-control" id="txtEmail" name="email" placeholder="contato@suaempresa.com.br">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-4 col-md-3">
							<label for="txtNomeCompleto" class="control-label">Login</label>
							<input type="text" id="txtNomeCompleto" class="form-control" name="login" placeholder="Ex. Login para Empresa">
						</div>
						<div class="col-sm-4 col-md-3">
							<label for="txtEmail" class="control-label">Senha:</label>
							<input type="password" class="form-control" id="txtEmail" name="login" placeholder="Digite sua senha">
						</div>
						<div class="col-xs-6 col-sm-3 col-md-3">
							<label for="txtDataNascimento">Data Nascimento</label>
							<input type="text" class="form-control" id="txtDataNascimento" name="datanasc" placeholder="00/00/0000">
						</div>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-4 col-md-offset-0 col-xs-12 " id = "first">
					<!-- Painel Default -->
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<h3 class="panel-title">Possui Funcionários?</h3>
						</div>
						<div class="panel-body">
							<div class="form-inline">
								<div class="form-group">
									<label class="radio-inline">
										<input type="radio" id="rdFilhos01" name="filhos" name="funcionarios" value="sim" checked="">
										Sim 
									</label>
									<div class="form-group">
										<select class="form-control">
											<option value="0103">1 a 50</option>
											<option value="0103">50 a 300</option>
											<option value="0103">Mais de 300</option>
										</select>
									</div>
									<label class="radio-inline">
										<input type="radio" id="rdFilhos02" name="filhos" value="nao">
										Não 
									</label>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-9 col-sm-offset-3 col-md-4 col-md-offset-0 col-xs-12" id ="second">

					<!-- Painel Default -->
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<h3 class="panel-title">A empresa possui filiais?</h3>
						</div>
						<div class="panel-body">
							<div class="form-inline">
								<div class="form-group">
									<label class="radio-inline">
										<input type="radio" id="rdCigarros01" name="filiais" value="sim" checked="">
										Sim 
									</label>
									<div class="form-group">
									<select class="form-control" name="" id="filiais" name="filiais">
										<option value="0103">01 a 03</option>
										<option value="0103">03 a 10</option>
										<option value="0103">mais que 10</option>
									</select>
								</div>
									<label class="radio-inline">
										<input type="radio" id="rdCigarros02" name="cigarros" value="nao">
										Não 
									</label>
								</div>
								
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- fim da primeira sessão -->
	<!-- Inicio da segunda sessão Endereço -->
	<section class="container">
		<div class="row">
			<div class="col-sm-12">
				<header>
					<h2><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Endereço</h2>
					<span>Preencha com seu endereço:</span>
				</header>
			</div>
		</div>

		<div class="form-horizontal">
			<div class="form-group">
				<div class="row">
					<div class="col-sm-4 col-md-2">
						<label for="txtCEP" class="control-label" id ="iCEP">CEP:</label>
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-md-3">
						<label for="txtEmail" class="control-label">Rua:</label>
						<input type="email" class="form-control" id="txtEmail" placeholder="Ex. Rua do Sacramento">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-md-2">
						<label form="txtTipoImovel">Estado</label>
						<select class="form-control" id ="estados">
							<option>AC</option>	 
							<option>AL</option>
							<option>AP</option>
							<option>AM</option>
							<option>BA</option>
							<option>CE</option>
							<option>DF</option>
							<option>ES</option>
							<option>GO</option>
							<option>MA</option>
							<option>MT</option>
							<option>MS</option>
							<option>MG</option>
							<option>PA</option>
							<option>PB</option>
							<option>PR</option>
							<option>PE</option>
							<option>PI</option>
							<option>RJ</option>
							<option>RN</option>
							<option>RS</option>
							<option>RO</option>
							<option>RR</option>
							<option>SC</option>
							<option>SP</option>
							<option>SE</option>
							<option>TO</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Inicio da terceira sessão -->
<section class="container">
	<div class="row">
		<div class="col-sm-12">
			<header>
				<h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Descreva sobre sua Empresa:</h2>
				<span>Nessa sessão, descreva o segmento da sua empresa</span>
			</header>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p>
				Se você tem mais algum comentário ou dúvidas, escreva no campo a seguir também.</p>
			</div>
			<div class="col-md-8">
				<div class="form-group">
					<label class="control-label" for="txtMensagem">Sua mensagem</label>
					<textarea class="form-control" rows="6" id="txtMensagem"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-offset-4">
				<button id="btnEnvia" class="btn btn-success">
					Enviar Respostas
				</button>
			</div>
		</div>
	</section>


	<script src="../resources/js_form/jquery-2.1.3.min.js"></script>
	<script src="../resources/js_form/bootstrap.min.js"></script>
	<script>
		$(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
</body>
</html>