<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    
    lang="pt-br">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pulse Probióticos</title>  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css" /> 
  <link rel="stylesheet" type="text/css" href="../resources/css/estilo.css" />
</head>


<body>
<nav class="navbar navbar-default navbar-statix-top navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          <img alt="Brand" src="../resources/media/logos.png" width="25px" align="middle">   
        </a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="feedback.html">Feedback<span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="produtos.html">Produtos</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="form_cliente_fisico.html">Cliente Físico</a></li>
              <li><a href="form_cliente_juridico.html">Cliente Jurídico</a></li>
             <!-- Exemplo de Link Separado <li role="separator" class="divider"></li>-->
            </ul>
          </li>
        </ul>
  
        <ul class="nav navbar-nav navbar-right">
          <li><a href="login.html">Entrar</a></li>
          <li><a href="sobrenos.html">Quem somos nós</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
  </nav>
  <!-- Carroussel com Banners -->
  <div class="container">
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="carousel-caption">
            
          </div>
          <img src="../resources/media/banner-promoção-01-iloveimg-resized.png" alt="Imagem do Primeiro Item">
        </div>
        <div class="item">
          <div class="carousel-caption">
         
          </div>
          <img src="../resources/media/banner-promoção-04.jpeg" alt="Imagem do Segundo Item">
        </div>
        <div class="item">
          <div class="carousel-caption">
            
          </div>
          <img src="../resources/media/nutri3.jpg" alt="Imagem do Terceiro Item">
        </div>
        <a class="carousel-control left" href="#main-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#main-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>

  <!-- Titulo -->

  <div class="container">
    <div class="row">
        <div class="page-header">
          <h1>Os mais Procurados</h1>
          <span class="icon-bar">
            <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
          </span>
          <h2>O que esta em alta !!!</h2>
        </div>
    </div>
</div>

  <!-- Inicio dos conteudos -->
  <div class="container">
    
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../resources/media/whey.jpeg" alt="...">
          <div class="caption">
            <h3>Whey Protein</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Detalhes</a></p>
          </div>

        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../resources/media/carnivor.jpeg" alt="...">
          <div class="caption">
            <h3>Carnivor</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Detalhes</a></p>
          </div>      
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../resources/media/whey.jpeg" alt="...">
          <div class="caption">
            <h3>Whey Protein</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Detalhes</a></p>
          </div>      
        </div>
      </div>

    </div>
  </div>

<!-- JS -->
  <script src="../resources/js/js_nav.js"></script>
  <script src="../resources/js/bootstrap.min.js"></script>

<!-- Inicio do footer -->
<section class="footer">
    <div class="container">
       
          <div class="col-lg-4  col-md-4 col-sm-4">
              <div class="footer_dv">
                  <h4>Suplementos</h4>
                  <ul>
                      <li class="line_rv"><a href="canon-printer-support.php">Suplementos para Emagrecimento</a></li>
               
                        <li><a href="hp-printer-support.php">Suplementos para Bucking</a></li>
                        <li><a href="dell-printer-support.php">Suplementos para Cutting</a></li>
                        <li><a href="epson-printer-support.php">Suplementos em Promoção</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
              <div class="footer_dv">
                  <h4>CADASTRE-SE</h4>
                  <ul>
                      <li><a href="form_cliente_fisico.html">Cliente Fisico</a></li>
                        <li><a href="form_cliente_juridico.html">Cliente Juridico</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
              <div class="footer_dv">
                  <h4>Entre em Contato</h4>
                  <p>Pulse Suporte 24hs</p>
            <p>BRA-SP +55 (11) 2781-2675<br>

        
                </p></div>
            </div>
       
    </div>
</section>
</body>


</html>